@import 'leaflet/dist/leaflet.css';
@import "~bootstrap";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html, body, #map {
  height: 100vh;
  width: 100vw;
  background-color: #565656;
  overflow: hidden;
  position: fixed;
}